.App{
    width: 100vw;
    height: 100vh;
    background-color: rgb(62, 222, 222);
    position: relative;
}
.formContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 410px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
.step {
    border: 2px solid transparent;
    background-color: orange;
}
.inputs {
    margin-left: 10px;
}
.your-details-inputs{
    border: 2px solid silver;
    background-color: silver;
    height: 150px
    /* display: none */
}
.button-next{
    position: absolute;
    right: 10px
}